@import "../../styles/variables";
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  background-color: $bg-secondary;

  @media (max-width: 768px) {
    padding: 0.8rem;
  }

  .header-left {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .nav {
    @media (max-width: 768px) {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.8);
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 10;
      transform: translateX(-100%);
      transition: transform 0.3s ease-in-out;

      &--open {
        transform: translateX(0);
      }
    }
  }

  .nav-toggle {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;

    @media (min-width: 769px) {
      display: none;
    }

    &__close {
      font-size: 2rem;
      font-weight: bold;
    }

    &__hamburger {
      font-size: 2rem;
    }
  }

  .nav__links {
    display: flex;
    gap: 2rem;

    @media (max-width: 768px) {
      flex-direction: column;
      gap: 1.5rem;
    }
  }

  .nav-link {
    cursor: pointer;
    font-size: 1.2rem;
    color: black;
    text-decoration: none;

    @media (max-width: 768px) {
      font-size: 1.5rem;
      color: white;
    }

    &:hover {
      color: #FFA800;
    }
  }

  .top-right {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .search-toggle {
    display: flex;
    align-items: center;
    gap: 1rem;

    @media (max-width: 768px) {
      .search-input {
        display: none;
      }
    }
  }

  .title {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-weight: 600;

    @media (max-width: 768px) {
      font-size: 1.3rem;
    }
  }
}